@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    font-family: "Inter", 'sans-serif';
    font-size: large;
}

body{
    background-color: antiquewhite;
    /* background-color: rgb(209, 195, 228); */
    /* background-color: rgb(83, 79, 79); */
    /* color: rgb(51, 50, 51); */
    color: black;
}

.logo{
    display: inline-block;
    width: 200px;
}

.container-sign-in {
    margin: 15px;
    display: inline;
    float: right
}

.wrapper{
    text-align: center;
}

.correct{
    color: rgb(8, 119, 8);
}

.wrong {
    color: red
}

.current-word{
    font-size: larger;
}

.time{
    width: 120px;
    height: 70px;
    margin: 40px;
}

.score{
    width: 100px;
    height: 60px;
    margin: 30px;
    padding: 10px 0 10px 0;
    text-align: center;
}

.restart-button a{
    text-decoration: none;
    color: black;
}

button {
    background-color: aliceblue;
    width: 100px;
    height: 60px;
    margin: 30px;
    padding: 10px 0 10px 0;
    text-align: center;
    border: solid 2px black;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(221, 188, 145);
    cursor: pointer;
}

a.icon{
    color: black;
}
i.icon{
    font-size: 15px;
}