<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <form action="/images" method="post" enctype="multipart/form-data">
        <input type="file" name="pfp" id="1" accept="image/*" >
        <button type="submit">Submit</button>
        <!-- <img src="/images?key=fb0c701f667f602f9d6e96d4f5b1f49a" alt="logo"> -->
    </form>
</body>
</html>