@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    /* background-color: rgba(216, 184, 231, 0.808); */
    background-color: rgb(158, 155, 155);
}

*{
    font-family: 'inter', 'sans-serif';
    font-size: 30px;
    color: rgb(0, 0, 0);

}

.correct{
    color: rgb(30, 112, 30);
}

.wrong{
    color: rgb(187, 20, 20);
}

.next{
    font-size: 34px;
}

.type-box{
    max-width: 400px;
}

.wrapper{
    width: 400px;
}