<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <!-- <form action="/" method="post">
        <input type="radio" name="answer" value="checked" id="">Hello</input>
        <button type="submit">Submit</button>
    </form> -->
    <!-- <form class='options' method='post' action='/'> -->
        <div class="wrapper">
            <span class="correct">hi bye </span><span class="wrong">hi again </span><span class="next">bye</span><span>  gbb  bye</span>
            <br>
            <textarea name="type-box" id="type-box" style="resize: none;" cols="20" rows="10" ></textarea>
            <button type="submit" id="form-submit">Submit</button>
        </div>
    <!-- </form> -->
    <script></script>
    <script src="script.js"></script>
</body>
</html>